<header class="form-header">
  <div class="court-info">
    JUDICIAL COUNCIL OF CALIFORNIA
  </div>
  <div class="form-title">
    <%= form_title %>
  </div>
  <div class="form-number">
    <%= form_code %>
  </div>
</header>
